In [4]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [6]:
# Extract the second element of the list.
shopping[1]

'ham'

In [7]:
# Extract the first to third (inclusive) elements of the list.
shopping[0:3]

['spam', 'ham', 'eggs']

In [8]:
# Extract only the last element of the list.
shopping[-1]

'ham'

In [9]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [10]:
# Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [14]:
# Add "Queen Street" to the start of the list
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [17]:
# Find out what index "Croy" is at in the list
stops.index('Croy')

1

In [19]:
# Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [20]:
# Remove "Haymarket" from the list of stops
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [25]:
# Remove all items from stops
stops.clear()
stops

[]

In [26]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [32]:
# Return the keys, values and items from this dictionary
person.keys()
person.values()
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [33]:
# Take out only the name from it
person['name']

'Steph'

In [37]:
# Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
person.update({'email': "steph@codeclan.com"})
person

{'name': 'Steph',
 'age': 31,
 'Instructor': True,
 'value pair': 'steph@codeclan.com',
 'email': 'steph@codeclan.com'}

In [40]:
# Delete the job description from the dictionary (Hint: look up the del function)
person.pop("Instructor")
person

{'name': 'Steph',
 'age': 31,
 'value pair': 'steph@codeclan.com',
 'email': 'steph@codeclan.com'}

In [41]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [44]:
even_numbers = []
for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)
print(even_numbers)

[6, 2, 2, 6]

In [46]:
# Print the difference between the largest and smallest value:
print(max(numbers) - min(numbers))

98

In [47]:
# Print True if the list contains a 2 next to a 2 somewhere.
def has22(nums):
    return (2, 2) in zip(nums, nums[1:])
has22(numbers)

True

In [ ]:
# Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. 
# So [11, 6, 4, 99, 7, 11] would have sum of 22

In [53]:
python_is_fun = False
python_is_weird = False

if python_is_fun == True and python_is_weird == True:
    print("Woo Python!")
elif python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

In [54]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [61]:
def eggs(chickens):
    total_eggs = 0
    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected

    return(f"{total_eggs} eggs collected")

In [62]:
eggs(chickens)

'4 eggs collected'